<form method="post" asp-controller="User" asp-action="ChangePassword">
    <div class="form-group">
        <div>
            <p><label class="mt-3">Password</label></p>
            <input type="password" class="form-control" name="password" required minlength="5"/>
        </div>
        <div>
            <p><label class="mt-3">Password repeat</label></p>
            <input type="password" class="form-control" name="passwordRepeat" required minlength="5"/>
        </div>
    </div>
    <button id="submitPassword" class="btn btn-outline-success my-2 my-sm-0" type="submit">Change password</button>
</form>